body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overflowHidden {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.details {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  flex-direction: column;
}

.iconText {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  line-height: 1em;
}

.themeIcon {
  margin-top: 1em;
  margin-right: 1em;
  text-align: right;
}


.mxAuto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 640px) {
  .container {
      max-width: 640px
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 768px
  }
}
@media (min-width: 1024px) {
  .container {
      max-width:1024px
  }
}
@media (min-width: 1280px) {
  .container {
      max-width:1280px
  }
  .centerSection {
    width: calc(750pt - 180pt);
  }
}

.m1 {
  margin-right: 3px;
}

.ml5 {
  margin-left: 5px;
}

.textCenter {
  text-align: center;
}

.treeView {
  height: 85vh;
  overflow: auto;

}

tbody {
  display: block;
  height: 80vh;
  overflow: auto;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}

body {
  height: 100%;
  overflow: auto;
}
html {
  height: 100%;
  overflow: hidden;
}